<!-- Services -->
<li class="hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{
      "desktop": {
        "maxWidth": "40rem"
      }
    }'>
  <a id="servicesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='services'){active}"
    aria-current="page" href="#" role="button" aria-expanded="false">Services</a>

  <!-- Mega Menu -->
  <div class="hs-mega-menu dropdown-menu" aria-labelledby="servicesMegaMenu" style="min-width: 25rem;">
    <!-- Main Content -->
    <div class="row">
      <div class="col-sm">
        <div class="navbar-dropdown-menu-inner">
          <a class="dropdown-item @@if(link=='index.html'){active}" href="@@autopath/index.html"><i
              class="bi-building me-2"></i> Assignment Help</a>
          <a class="dropdown-item @@if(link=='landing-business.html'){active}"
            href="@@autopath/landing-business.html"><i class="bi-briefcase me-2"></i> Online Tutoring</a>
          <a class="dropdown-item @@if(link=='landing-consulting.html'){active}"
            href="@@autopath/landing-consulting.html"><i class="bi-chat-right-dots me-2"></i> Textbook Solutions</a>
        </div>
      </div>
    </div>
    <!-- End Main Content -->
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Services -->

<!-- About -->
<li class="nav-item">
  <a class="text-dark nav-link @@if(link=='page-about.html'){active}" href="@@autopath/page-about.html">About</a>
</li>
<!-- End About -->

<!-- Contact Us -->
<li class="nav-item">
  <a class="text-dark nav-link @@if(link=='page-contacts.html'){active}" href="@@autopath/page-contacts.html">Contact
    Us</a>
</li>
<!-- End Contact Us -->